{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.deps.alpha {:mvn/version "0.8.695"}}
 
 :aliases  {:uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                      :exec-fn hf.depstar/uberjar}
            
            :dev {:extra-paths ["resources"
                                "resources/js"
                                "resources/py"]
                  
                  :extra-deps {jvxi11/jvxi11 {:local/root "resources/jvxi11/dist/jvxi11.jar"}
                               compojure/compojure {:mvn/version "1.6.1"}
                               http-kit/http-kit {:mvn/version "2.5.0"}
                               cheshire/cheshire {:mvn/version "5.10.0"}
                               ring/ring-defaults {:mvn/version "0.3.2"}
                               ring/ring-core {:mvn/version "1.7.1"}
                               ring/ring-devel {:mvn/version "1.7.1"}
                               ring/ring-json {:mvn/version "0.5.0"}
                               org.clojure/data.json {:mvn/version "1.0.0"}
                               com.brunobonacci/mulog  {:mvn/version "0.6.0"}
                               com.brunobonacci/mulog-elasticsearch {:mvn/version "0.6.0"}
                               com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
                               clojure-interop/java.nio {:mvn/version "1.0.5"}
                               com.intelligt.modbus/jlibmodbus {:mvn/version "1.2.9.7"}}}

            :coverage {:extra-paths ["test"]
                       :extra-deps {cloverage/cloverage {:mvn/version "1.2.1"}}
                       :main-opts ["-m" "cloverage.coverage"                                   
                                   "-p" "src"
                                   "-s" "test"
                                   "--no-html"
                                   "--text"]}
            
            :codox {:extra-deps {codox/codox {:mvn/version "0.10.7"}
                                 codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}}
                    :exec-fn codox.main/generate-docs
                    :exec-args {:source-paths  ["src"]
                                :metadata {:doc/format :markdown}
                                :themes [:rdash]
                                :doc-files ["docs/README.md"
                                            "docs/EXAMPLES-EXECUTE.md"
                                            "docs/EXAMPLES-TCP.md"
                                            "docs/EXAMPLES-MODBUS.md"
                                            "docs/EXAMPLES-VXI11.md"]
                                :source-uri "https://github.com/wactbprot/devhub/blob/master/{filepath}#L{line}"
                                :language :clojure
                                :output-path "docs"}}}}
