{:log-context {:app-name "devhub"} 
 :mulog {:type :multi
         ;; send events to the stdout
         :console {:type :console
                   :pretty? true}
         ;; send events to a file
         :simple-file {:type :simple-file
                       :filename "/tmp/mulog/events.log"}
         ;; send events to ELS
         :elasticsearch {:type :elasticsearch
                         :url  "http://a75438:9200/"
                         :els-version  :v7.x
                         :publish-delay 1000
                         :data-stream  "vl-log-stream"
                         :name-mangling false
                         }
         :publishers[]}
 :stub {;; default is false, swiched to true if
        ;; request hits /stub endpoint
        :on false
        :response-file "stub-response.edn"
        ;; which of the values should be used
        ;; :first|:last|:rand
        :mode :rand
        :min-wait 10
        :repeat 1}
 :server {;:ip "127.0.0.1" ; defaults to 0.0.0.0
          :port 9009
          :join? false}
 :tcp {:min-wait 10
       :repeat 1
       :read-delay 50}
 :udp {:send-buffer-size 1024
       :min-wait 10
       :repeat 1
       :read-delay 10}
 :vxi {:min-wait 10
       :repeat 1
       :read-buffer-size 1024
       :vxi-io-timeout 300000
       :vxi-lock-timeout 300000}
 :modbus {:min-wait 10
          :port 502
          :keep-alive false
          :default-slave-address 255
          :repeat 1}
 :post {:tmp "/tmp"
        :js-exec "exec.js"
        :js-path "./resources/js"
        :js "node"
        :py-path "./resources/py"
        :py "python3"}
 :execute {:shell "sh"
           :param "-c"
           :min-wait 10
           :repeat 1}
 }
