{:device-names ["1T" "1T" "1T"
                "10T" "10T" "10T"
                "100T" "100T" "100T"
                "1000T" "1000T" "1000T"
                "5T" "50T" "500T"
                "add"]
 }
