{;; SE3
 ;;; valve position [block-position bit-position]
 :valve-position  {:V1  [0 0] :V2  [0 2] :V3  [0 4] :V4  [0 6]
                   :V5  [2 0] :V6  [2 2] :V7  [2 4] :V8  [2 6]
                   :V9  [4 4] :V10 [4 2] :V11 [4 0] :V12 [4 6]
                   :V13 [6 0] :V14 [6 2] :V15 [6 4] :V16 [6 6]
                   :V17 [8 0] :V18 [8 1] :V19 [8 2] :V20 [8 3]}
 :switch-open     {:V1  [0 0] :V2  [0 2] :V3  [0 4] :V4  [0 6]
                   :V5  [2 0] :V6  [2 2] :V7  [2 4] :V8  [2 6]
                   :V9  [4 4] :V10 [4 2] :V11 [4 0] :V12 [4 6]
                   :V13 [6 0] :V14 [6 2] :V15 [6 4] :V16 [6 6]
                   :V17 [8 0] :V18 [8 2] :V19 [8 4] :V20 [8 6]}
 :switch-closed   {:V1  [0 1] :V2  [0 3] :V3  [0 5] :V4  [0 7]
                   :V5  [2 1] :V6  [2 3] :V7  [2 5] :V8  [2 7]
                   :V9  [4 5] :V10 [4 3] :V11 [4 1] :V12 [4 7]
                   :V13 [6 1] :V14 [6 3] :V15 [6 5] :V16 [6 7]
                   :V17 [8 1] :V18 [8 3] :V19 [8 5] :V20 [8 7]}
 ;;; quantity to get all valves at once
 :all-block-count 9}
